






	background-color: #050A30;
	clear: both;
	color: white;
	float: left;
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;
	font-size: 20px;
	font-size: 20px; 
	margin-top: -20px;
	margin: auto;
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	width: 1100px;
    background-color: #000;
    color: white;	
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
   float: left;
   height: 250px;
   width: 350px;
#produit {
#representation1 {
#retour {
#titre1 {
#titre2 {
.image {
.imagechauss {
main {
}
}
}
}
}
}
}
}